.notfound-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  h1 {
    font-family: "ClashDisplay-Semibold";
    font-size: 6rem;
  }
}
