.about-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  h1 {
    font-family: "ClashDisplay-Semibold";
    font-size: 2.5rem;
  }
}
