* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ClashDisplay-Regular";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
