.introduction-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-top: 0;
}
.introduction-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__text {
    h4 {
      font-family: "ClashDisplay-ExtraLight";
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    h1 {
      font-family: "ClashDisplay-Semibold";
      font-size: 5rem;
      margin-bottom: 1rem;
    }
    p {
      font-family: "ClashDisplay-Light";
      font-size: 1.5rem;
      line-height: 1.6;
      max-width: 600px;
    }
  }
  &__button {
    .btn {
      padding: 1rem 2rem;
    }
  }
}

@media (max-width: 768px) {
  .introduction-section {
    flex-direction: column-reverse;
    margin-top: 2rem;

    &__image {
      margin-bottom: 2rem;
    }
  }
  .introduction-content {
    &__text {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    &__button {
      .btn {
        padding: 1rem 2rem;
      }
    }
  }
}
