.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.portfolio-single {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}
