.portfolio-description.open .portfolio-dropdown-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: 1200px;
}

.portfolio-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 0;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.portfolio-featured-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 8px;
  transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 1;
}

.portfolio-card.open .portfolio-featured-image {
  opacity: 0;
  visibility: hidden;
}

.portfolio-title-link {
  position: relative;
  z-index: 2;
  font-family: "ClashDisplay-Regular";
  font-size: 1.5rem;
  color: #222;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-align: center;
  transition: color 0.2s;
}

.portfolio-dropdown-btn {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit;
  border-radius: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  margin-bottom: 0.5rem;
}

.portfolio-description {
  width: 100%;
  padding: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  z-index: 3;
  box-sizing: border-box;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 1024px) {
  .portfolio-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .portfolio-card-list {
    grid-template-columns: 1fr;
  }
  .portfolio-card {
    aspect-ratio: unset;
    min-height: 300px;
  }
}

.portfolio-description.open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.portfolio-description p {
  font-family: "ClashDisplay-Light";
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.arrow {
  width: 32px;
  height: 32px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow.rotated {
  transform: rotate(180deg);
}

.portfolio-repo-btn {
  width: fit-content;
}

.portfolio-technologies {
  p {
    font-family: "ClashDisplay-Medium";
  }
}

.portfolio-tech-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
